/* width */
::-webkit-scrollbar {
  width: 15px;
  background: #012233;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #012255;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #012266;
}

.noUi-target {
  border: dashed;
  background-color: #012244;
  border-color: white;
  height: 1px;
  border-width: 1px;
}

.noUi-handle {
  border-style: none;
  outline: none;
  background: #012266;
  width: 20px !important;
  height: 20px !important;
  margin-top: 2px;
  border-radius: 20px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  border-radius: 3px;
  background: #012266;
  color: #fff;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.first-slider {
  z-index: 100;
  margin-top: 30vh;
  position: fixed;
  top: 0;
  margin-left: 35%;
  width: 30%;
}


#slider2, #slider7, #slider11, #slider13
{
  z-index: 100;
  margin-top: 40vh;
  position: fixed;
  top: 0;
  width: 30%;
  margin-left: 35%;
}

#slider3, #slider8, #slider14
{
  z-index: 100;
  margin-top: 50vh;
  position: fixed;
  top: 0;
  margin-left: 35%;
  width: 30%;
}

#slider4, #slider9 {
  z-index: 100;
  margin-top: 60vh;
  position: fixed;
  top: 0;
  width: 30%;
  margin-left: 35%;
}


/* 72px between each text */
#slider-text-1 {
  display: block;
  z-index: 100;
  margin-top: 29vh;
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#slider-text-2 {
  display: block;
  z-index: 100;
  margin-top: 39vh;
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#slider-text-3 {
  display: block;
  z-index: 100;
  margin-top: 49vh;
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#slider-text-4 {
  display: block;
  z-index: 100;
  margin-top: 59vh;
  position: fixed;
  top: 0;
  right: 70%;
  font-size: .8em;
}

#page1, #page2, #page3, #page4, #page5 {
  display: none;
}

#slider-value {
  display: none;
  color: #fff;
  width: 200px;
  height: 200px;
  padding: 10px;
  /* text-align: justify; */
  /* background-color: #b0c6de; */
  border-radius: 3px;
}

#value-1, #value-2, #value-3, #value-4 {
  display: none;
  font-size: .65em;
  text-transform: uppercase;
  background-color: #012266;
  padding: 2px;
  border-radius: 2px;
  z-index: 1;
}

#value-1 {
  margin-top: 29vh;
  position: fixed;
  top: 0;
  left: 70%;
}

#value-2 {
  margin-top: 39vh;
  position: fixed;
  top: 0;
  left: 70%;
}

#value-3 {
  margin-top: 49vh;
  position: fixed;
  top: 0;
  left: 70%;
}

#value-4 {
  margin-top: 59vh;
  position: fixed;
  top: 0;
  left: 70%;
}

.c-5-color {
  background: #b0c6de;
}

.c-4-color {
  background: #7b9fc9;
}

.c-3-color {
  background: #4b58ab;
}

.c-2-color {
  background: #00287a;
}

.c-1-color {
  background: #012266;
}



#next-btn {
  background-color: #012266;
  color: #fff;
  border: none;
  width: 55px;
  border-radius: 2px;
  /* margin-top: 20px; */
  padding: 6px 10px;
  outline: none;
  position: absolute;
  bottom: 100px;
  right: 47.5%;
  text-align: center;
  z-index: 101;
}

#enter {
  text-align: center;
  margin-top: 5%;
}

#enter img {
  width: 30%;
  transition: .5s ease;
  opacity: .3;
  padding-bottom: 50px;
}

#enter img:hover {
  opacity: 1;
}

#enter-btn {
  color: #fff;
}

#slider-disp {
  border-radius: 3px;
  display: none;
  background-color: #012266;
  width: 40vw;
  height: 50vh;
  margin-left: 30vw;
  margin-right: auto;
  padding: 1%;
  z-index: 100;
  margin-top: 25vh;
  position: fixed;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: .8em;
  /* z-index: 100; */
}

#slider-disp h3 {
  color: #ddd;
  text-transform: uppercase;
  font-size: .9em;
  text-align: left;
  padding-left: 20px;
}

#slider-disp p {
  color: #ddd;
  padding-left: 50px;
  font-size: .85em;
}
#top {
  font-family: "Work Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 0px;
  /* margin-top: 100px; */
  display: block;
  position: fixed;
  top: 15%;;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  color: white;
  z-index: 100;
}


#slider-pages{
}
