body {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #012244;
  background-image: none;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}
.p5Canvas {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
}

#vote {
  width: 100vw;
  height: auto;
  background-color: #012244;
  z-index: 0;
}



h2 {
  color: blue;
  width: 100%;
  font-weight: lighter;
}

input[type=text] {
  width: 50px;
}

input[type=range] {
  width: 100px;
}

.group-labels {
  color: #ffffff;
  text-transform: uppercase;
}

/* from the main css */
@media only screen and (max-width: 600px) {
  header ul {
    flex-direction: column;
  }

  footer ul {
    flex-direction: column;
  }
}

header {
  /*	padding-top: 5px;*/
  margin: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  position: fixed;
  top: 0px;
  /*    background-color: rgba(255, 0, 0, 0.3);*/
  background-color: #3c1b36;
  padding-bottom: 5px;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

header ul li {
  font-size: 21px;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  /*    line-height: 26.4px; */
}

header ul li a {
  padding: 5px;
  color: white;
  text-decoration: none;
}

header ul li a:hover {
  padding: 5px;
  color: #205ba1;
  transition: all 0.3s ease-in-out;
}

.active {
  padding: 5px;
  font-weight: 250;
}

.active-homepage {
  padding: 5px;
  padding: 5px;
  color: white;
}

footer {
  /* margin: auto; */
  background-color: #3c1b36;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  /* Footer height */
}

#result {
  color: white;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  margin-top: 3px;
  margin-bottom: 0px;
  /*    line-height: 35px; */
}

button {
  background-color: #012266;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin: 0px 2px;
  margin-top: 6px;
  z-index: 102;
}

#sim-info {
  width: 70vw;
  height: 50vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 25vh;
  margin-bottom: auto;
  font-size: 2em;
  overflow-y: hidden;
}

p {
  color: white;
  text-align: justify;
  font-size: 18px;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
}
